# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env
.env.*

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Alembic
alembic/versions/*.py
!alembic/versions/__init__.py
